.preview_bike_component {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview_bike_title {
  margin: 40px 0 10px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

.preview_bike_container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
